body {
	font-family: 'lucida grande', helvetica, arial, sans-serif;
	font-size: 76%;
}

/* basic styling first */
.lifted_content_box {
	display: block;
	width: 500px;
	margin: 0 auto;
	position: relative;
}

.lifted_content_box h1 {
	font-size: 14px;
	font-weight: bold;
	line-height: 2em;
	margin: 0;
	
	/* for the triangular shape/cut */
	height: 0;
	border-bottom: 25px solid #505050; /* kinda acts as the height */
	border-right: 15px solid transparent; /* adjust to change the angle */
	
	display: inline-block;
	color: #fff;
	text-shadow: 1px 1px 0 #585858;
	padding: 0 10px;
	vertical-align: bottom; /* fixes the mysterious gaps bug */
}
.lifted_content_box div {
	padding: 10px;
	background: #fff;
	
	border-top: 5px solid #505050; /* was just experimenting. gives a nice look and feel :D */
	
	box-shadow: inset 0px 0px 10px rgba(0,0,0,0.20);
}
.lifted_content_box p {
	margin: 0 0 10px;
	color: #555;
	line-height: 1.5em;
}

/* lifted shadows */
.lifted_content_box::before, .lifted_content_box::after {
	content: '';
	position: absolute;
	
	width: 50%; /* maybe we could set a max-width for larger content boxes ? */
	height: 20px;
	
	-webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
	-ms-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
	-o-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
	
	-webkit-transform: rotate(-5deg) skew(-10deg);
	-moz-transform: rotate(-5deg) skew(-10deg);
	-o-transform: rotate(-5deg) skew(-10deg);
	-ms-transform: rotate(-5deg) skew(-10deg);
	transform: rotate(-5deg) skew(-10deg);
	
	left: 10px;
	bottom: 13px;
	z-index: -1;
}
.lifted_content_box::after {
	left: auto;
	right: 10px;
	
	-webkit-transform: rotate(5deg) skew(10deg);
	-moz-transform: rotate(5deg) skew(10deg);
	-o-transform: rotate(5deg) skew(10deg);
	-ms-transform: rotate(5deg) skew(10deg);
	transform: rotate(5deg) skew(10deg);
}

body {
    font-family: arial, sans-serif;
    text-align: center;
}
    
p {
    margin: 50px 0 20px;
}
    
div.container {
    position: relative;
    height: 100px;
    width: 40px;
    display: inline-block;
    margin: 0 5px 10px;
    cursor: pointer;
}
    
div.container:hover div {
  border-color: #5ba753;
  color: #5ba753;
  animation: jump 0.5s infinite alternate;
  -o-animation: jump 0.5s infinite alternate;
  -ms-animation: jump 0.5s infinite alternate;
  -moz-animation: jump 0.5s infinite alternate;
  -webkit-animation: jump 0.5s infinite alternate;
}

div.container div {
  position: absolute;
  top: -40px;
  left: 0;
  right: 0;
  height: 30px;
  line-height: 30px;
  text-align: center;
  width: 38px;
  border: 3px solid #ccc;
  color: #ccc;
  padding: 0 0 8px;
  border-radius: 50%;
  margin: 100px auto;
  font-size: 24px;
  font-family: "comic sans ms";
  font-weight: bold;
	
  transition: color .25s linear;
  transition: border-color .25s linear;
  transform: rotate(90deg);
  animation: jump 0.5s infinite alternate;
	
  -o-transition: color .25s linear;
  -o-transition: border-color .25s linear;
  -o-transform: rotate(90deg);
  -o-animation: jump 0.5s infinite alternate;
	
  -ms-transition: color .25s linear;
  -ms-transition: border-color .25s linear;
  -ms-transform: rotate(90deg);
  -ms-animation: jump 0.5s infinite alternate;
	
  -moz-transition: color .25s linear;
  -moz-transition: border-color .25s linear;
  -moz-transform: rotate(90deg);
  -moz-animation: jump 0.5s infinite alternate;
	
  -webkit-transition: color .25s linear;
  -webkit-transition: border-color .25s linear;
  -webkit-transform: rotate(90deg);
  -webkit-animation: jump 0.5s infinite alternate;
}


div.container div.one {
    animation-delay: 0s;
    -o-animation-delay: 0s;
    -ms-animation-delay: 0s;
    -moz-animation-delay: 0s;
    -webkit-animation-delay: 0s;
}

div.container div.two {
    animation-delay: 0.1s;
    -o-animation-delay: 0.1s;
    -ms-animation-delay: 0.1s;
    -moz-animation-delay: 0.1s;
    -webkit-animation-delay: 0.1s;
}

div.container div.three {
    animation-delay: 0.2s;
    -o-animation-delay: 0.2s;
    -ms-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    -webkit-animation-delay: 0.2s;
}

div.container div.four {
    animation-delay: 0.3s;
    -o-animation-delay: 0.3s;
    -ms-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
}

div.container div.five {
    animation-delay: 0.4s;
    -o-animation-delay: 0.4s;
    -ms-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    -webkit-animation-delay: 0.4s;
}

.sad div.container div {
  animation: shake 1s ease-in-out infinite alternate;
  -o-animation: shake 1s ease-in-out infinite alternate;
  -ms-animation: shake 1s ease-in-out infinite alternate;
  -moz-animation: shake 1s ease-in-out infinite alternate;
  -webkit-animation: shake 1s ease-in-out infinite alternate;}
}

@keyframes jump {
  0% {
		top: -40px;
        -moz-transform: scale(1,0.7) rotate(90deg);
  }
  30% {-moz-transform: scale(1,1) rotate(90deg);}
  100% {top: -70px;}
}

@-o-keyframes jump {
  0% {
		top: -40px;
        -moz-transform: scale(1,0.7) rotate(90deg);
  }
  30% {-moz-transform: scale(1,1) rotate(90deg);}
  100% {top: -70px;}
}

@-ms-keyframes jump {
  0% {
		top: -40px;
        -moz-transform: scale(1,0.7) rotate(90deg);
  }
  30% {-moz-transform: scale(1,1) rotate(90deg);}
  100% {top: -70px;}
}

@-moz-keyframes jump {
  0% {
		top: -40px;
        -moz-transform: scale(1,0.7) rotate(90deg);
  }
  30% {-moz-transform: scale(1,1) rotate(90deg);}
  100% {top: -70px;}
}

@-webkit-keyframes jump {
  0% {
      top: -40px;
      -webkit-transform: scale(1,0.7) rotate(90deg);
  }
  30% {-webkit-transform: scale(1,1) rotate(90deg);}
  100% {top: -70px;}
}

@keyframes shake {
  0% {padding: 8px 0 0;}
  100% {padding: 0 0 8px; line-height: 14px;}
}

@-o-keyframes shake {
  0% {padding: 8px 0 0;}
  100% {padding: 0 0 8px; line-height: 14px;}
}

@-ms-keyframes shake {
  0% {padding: 8px 0 0;}
  100% {padding: 0 0 8px; line-height: 14px;}
}

@-moz-keyframes shake {
  0% {padding: 8px 0 0;}
  100% {padding: 0 0 8px; line-height: 14px;}
}

@-webkit-keyframes shake {
  0% {padding: 8px 0 0;}
  100% {padding: 0 0 8px; line-height: 14px;}
}